* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(248, 248, 248);
  font-family: 'Sofia Sans Semi Condensed', sans-serif;
font-family: 'Ubuntu', sans-serif;
}
.info {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding: 12px 90px;
  background-color: black;
  color: rgb(122, 102, 155);
  font-size: 12px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.info_left_box {
  display: flex;
  margin-right: 30px;
  gap: 10px;
}
.info_left {
  display: flex;
}
.info_right {
  display: flex;
  gap: 15px;
}
.info_icon {
  color: rgb(105, 140, 255);
  margin-top: 3px;
}
.hdr {
  position: fixed;
  width: 100%;
  background-color: rgb(255, 250, 250);
}

.hdr_nav {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  font-size: 17px;
}

.hdr_ul {
  display: flex;
  list-style: none;
  gap: 25px;
  color: rgb(99, 99, 99);
}
.background_body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 700px;
  gap: 50px;
}
.background {
  width: 100%;
  height: 700px;
  background: linear-gradient(
      to left,
      rgba(0, 132, 172, 0.644),
      rgba(2, 0, 99, 0.767),
      rgba(29, 0, 66, 0.795)
    ),
    url("./img/maxsteam-dental-practice-equipment.jpg");
  background-size: cover;
}
.img_women_div {
  width: 750px;
  height: 700px;
  margin-top: 20px;
}
.img_women {
  max-width: 100%;
}
.bg_words {
  font-weight: bold;
  margin-left: 100px;
  padding-left: 100px;
  margin-top: -50px;
}
.bg_text1 {
  font-size: 60px;
  color: rgb(255, 255, 255);
}
.bg_text2 {
  font-size: 60px;
  color: white;
  margin-bottom: 30px;
}
.bg_text3 {
  width: 400px;
  font-size: 22px;
  color: white;
  margin-bottom: 30px;
}
.word_in_word {
  align-items: center;
  font-size: 23px;
  color: white;
  display: flex;
  gap: 20px;
}
.icon_bg_ {
  background-color: rgb(29, 0, 83);
  width: 50px;
  height: 50px;
  border-radius: 1000px;
  font-size: 22px;
  text-align: center;
  padding-top: 10px;
}
.icon_bg_:hover {
  background-color: rgb(72, 0, 196);
}
.three_boxes {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: -80px;
}
.three_box {
  background-color: rgb(255, 255, 255);
  width: 400px;
  height: 270px;
  padding: 40px;
}
.box_icon {
  font-size: 35px;
  color: rgb(81, 0, 156);
}
.box_icon_title {
  display: flex;
  font-size: 23px;
  gap: 40px;
  margin-bottom: 30px;
}
.three_box_word_bottom {
  color: rgb(136, 136, 136);
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 32px;
}
.box_link {
  text-decoration: none;
  font-weight: bold;
}
.box_bottom_word {
  margin: 70px 0;
  font-size: 19px;
  text-align: center;
  color: rgb(172, 172, 172);
}
strong {
  color: black;
}
.main_row2 {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.row2_img {
  width: 600px;
  height: 420px;
  background-image: url("./img/after11.jpg");
  background-size: cover;
}
.row2_word {
  width: 600px;
  height: 420px;
  text-align: left;
  padding: 90px 40px;
  background-color: rgb(248, 248, 248);
}
.row2_word_title {
  font-size: 30px;
  margin-bottom: 20px;
  color: rgb(9, 0, 131);
}
.row2_word_word {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 20px;
  color: rgb(133, 133, 133);
}
.box_ul {
  font-size: 18px;
  color: rgb(133, 133, 133);
}
.box_ul_li {
  margin-left: 20px;
  list-style: lower-alpha;
  list-style: none;
}
.icon_check {
  color: rgb(47, 255, 64);
}
.li_icon_div {
  display: flex;
}
.mean_border {
  padding: 75px 0px;
  margin-top: 100px;
  text-align: center;
  font-size: 30px;
  color: white;
  width: 100%;
  height: 180px;
  background-image: linear-gradient(
    to right,
    rgba(46, 0, 99, 0.801),
    rgba(0, 0, 138, 0.712),
    rgba(1, 87, 168, 0.623),
    rgba(1, 137, 216, 0.534)
  );
}
.main_word_strong {
  color: white;
}
.main_row3 {
  z-index: -1;
  background-color: white;
  width: 100%;
  height: 740px;
  padding-left: 100px;
  position: relative;
}
.row3_words {
  width: 900px;
  height: 400px;
  padding-left: 100px;
  margin-left: 100px;
  padding-top: 100px;
}
.row3_title_word {
  font-size: 30px;
  margin-bottom: 25px;
}
.row3_title_words {
  font-size: 17px;
  color: gray;
}
.order_word {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
}
.order_word_content {
  width: 390px;
  margin-right: 40px;
}
.row3_content_icon {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}
.rci_t {
  font-size: 19px;
}
.rci_p {
  font-size: 17px;
  color: gray;
  margin-left: 60px;
}
.icn_r3 {
  font-size: 30px;
  color: rgb(100, 56, 150);
}
.row3_img {
  width: 600px;
  height: 740px;
  background-image: url("./img/dctbg.avif");
  background-size: cover;
  position: absolute;
  right: 200px;
  top: 0px;
}
.main_border2 {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(
    to right,
    rgba(46, 0, 99, 0.842),
    rgba(0, 0, 138, 0.712),
    rgba(1, 87, 168, 0.623),
    rgba(1, 137, 216, 0.534)
  );
  width: 100%;
  height: 170px;
  padding: 40px 200px;
}
.border2_btn {
  margin-top: 15px;
  margin-right: 100px;
  right: 300px;
  top: 50px;
  font-size: 17px;
  background-color: rgb(84, 157, 199);
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  width: 250px;
  height: 60px;
}
.border2_btn:hover {
  background-color: white;
  color: rgb(68, 140, 204);
  transition: 0.3s;
}
.main_border2_title {
  font-size: 30px;
  color: white;
  margin: 10px 100px;
}
.main_border2_word {
  font-size: 21px;
  color: white;
  margin-left: 100px;
}
.meetOurDoctors {
  text-align: center;
  font-size: 30px;
  color: rgb(5, 5, 100);
  padding: 40px;
  margin-top: 40px;
}
.row4_img {
  
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 400px;
  margin-bottom: 60px;
}
.row4_img_box {

  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 300px;
  height: 400px;
  box-shadow: 0 0 0.6px black;
}
.box1_img {
  width: 300px;
  height: 300px;
  background-size: cover;
  background-image: url("./img/r41.jpg");
}
.box2_img {
  width: 300px;
  height: 300px;
  background-size: cover;
  background-image: url("./img/r43.jpg");
}
.box3_img {
  width: 300px;
  height: 300px;
  background-size: cover;
  background-image: url("./img/r42.jpg");
}
.box4_img {
  width: 300px;
  height: 300px;
  background-size: cover;
  background-image: url("./img/r44.jpg");
}
.hvr:hover {
  transform: scale(1.04);
  transition: 0.3s;
}
.doc_name {
  width: 100%;
  text-align: center;
  font-size: 21px;
  color: rgba(12, 12, 121, 0.822);
}
.doc_position {
  font-size: 17px;
  color: rgb(145, 145, 145);
}
.main_row5 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.row5_row1 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  text-align: center;
}
.row5_word1 {
  font-size: 30px;
  padding: 40px;
  margin-top: 60px;
  color: rgba(12, 12, 121, 0.822);
}
.row5_word2 {
  font-size: 18px;
  line-height: 1.4;
  color: rgb(180, 180, 180);
  width: 800px;
}
.row5_row2 {
  width: 1110px;
  height: 290px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  grid-template-columns: 50px;
}
input {
  width: 500px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid rgba(224, 224, 224, 0.534);
  padding-left: 10px;
  font-size: 15px;
}
.checkbox {
  width: 20px;
  border: 1px solid rgba(224, 224, 224, 0.445);
}
.input_btn {
  width: 140px;
  height: 60px;
  background-color: rgb(63, 63, 197);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
}
.chck_btn {
  width: 50%;
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 50px;
  color: gray;
}
.main_row6 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-bottom: 90px;
}
.row6_box1 {
  width: 50%;
  height: 500px;
  grid-area: box1;
  background-image: url("./img/row61.jpg");
}
.row6_box2 {
  width: 50%;
  height: 500px;
  grid-area: box2;
  background-image: linear-gradient(
    to right,
    rgb(0, 60, 151),
    rgb(0, 195, 255)
  );
}
.row6_box3 {
  width: 50%;
  height: 500px;
  grid-area: box3;
  background-image: linear-gradient(
    to right,
    rgba(86, 0, 94, 0.87),
    rgba(33, 116, 194, 0.788)
  );
}
.row6_box4 {
  width: 50%;
  height: 500px;
  grid-area: box4;
  background-image: url("./img/row62.jpg");
  background-size: cover;
}
.row6_box_content {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  width: 600px;
  font-size: 19px;
  color: white;
  padding: 90px 40px;
}
.row6_box2_title {
  font-size: 30px;
}
.row6_a {
  color: white;
  text-decoration: none;
}
.row6_a:hover {
  color: rgb(163, 163, 163);
  transition: 0.3s;
}
.footer_info {
  display: flex;
  justify-content: center;
  gap: 210px;
  margin-bottom: 60px;
}
.fb_title {
  font-size: 30px;
  color: rgb(0, 0, 117);
  margin-bottom: 20px;
}
.fb_content {
  font-size: 17px;
  line-height: 1.5;
  color: gray;
}
.map {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-image: url("./img/map.webp");
}
.contact_menu {
  display: flex;
  justify-content: center;
  padding: 50px;
  gap: 140px;
}
.contact {
  width: 400px;
  font-size: 17px;
  color: gray;
  line-height: 1.6;

}
.menu {
  width: 80px;
  font-size: 17px;
  color: gray;
  line-height: 1.6;
}
.whyus {
  width: 160px;
  font-size: 17px;
  color: gray;
  line-height: 1.6;

}
.terms {
  width: 160px;
  font-size: 17px;
  color: gray;
  line-height: 1.6;

}
.contact_title {
  color: black;
}

.end {
  text-align: center;
  width: 100%;
  height: 90px;
  background-color: rgb(240, 240, 241);
  font-size: 15px;
  color: gray;
  padding-top: 35px;
}
